@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Baloo 2', cursive;
}

header,
footer {
  font-family: 'Baloo 2', cursive;
  background-color: green;
  color: white;
  border-bottom-left-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}

li {
  width: 100%;
  list-style: none;
}

ul li {
  text-align: left;
  padding-left: 30%;
  padding-bottom: 2px;
}

li:hover {
  background-color: white;
  border: solid 1px lightgreen;
}

nav {
  color: black;
  background-color: lightgreen;
}

#container {
  width: 80%;
  margin: auto;
  height: 30rem;
  overflow: scroll;
  overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
}

footer {
  padding: 1rem;
  height: 2rem;
}

ul {
  border-top: solid 1px green;
  list-style: none;
  margin: 0;
  padding: 0;
}
ol{
  list-style-type: upper-greek;
}
#check{
  position: absolute;
  left: 5%; 
}
#wrong{
  color: red;
  padding-left: 2em;
}
#quiz{
  width:80%;
  height: 20%;
  margin:auto;
}

input[type=text]{
  border: 1px solid black;
  border-radius: 5px;
}

input[type=button] {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: .5em;
}
input[type=button]:active {
  background-color: lightgreen;
}

progress {
  width: 15em;
  height: 1.2em;
  border: 0px transparent;
  background: lightgreen;
  border-radius: 5px;
}
progress::-webkit-progress-bar { 
  background: lightgreen;
  border-radius: 5px;
 }

progress[value] {
  color:lightgreen;
  border-radius: 5px;
} /* IE10 */
progress::-webkit-progress-bar-value {
  color:lightgreen;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  color:lightgreen;
  border-radius: 5px;
}
progress::-moz-progress-bar {
  color:lightgreen;
  border-radius: 5px;
}